.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  width: 20%;
}
.card > .img-container > img {
  width: 60%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .save {
  color: #ff1744;
}

.card > .save:hover {
  color: #d50000;
}


.card > .remove {
  color: #ff1744;
}

.card > .remove:hover {
  color: #d50000;
}
